<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>waam: your bio</title>
    {{{hydrationScriptHTML}}}
  </head>
  <body>
    <div id='root'>{{{appHTML}}}</div>
    <script src='/src/pages/root/index.tsx' type='module'></script>
  </body>
</html>